@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merriweather|Montserrat');

body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
}

header {
    background: #4f2f60;
    color: #fff;
    text-align: center;
    padding: 50px 10px;
}

h1 {
    font: 700 60px 'Dancing Script', italic;
    margin: 0;
}

h2 {
    font: 700 60px 'Montserrat', sans-serif, bold;
    margin: 15px;
}

article {
    margin: 60px;
}

.title {
    font: bold 22px 'Montserrat', sans-serif;
    color: #38385a;
    text-align: center;
}

.posters-wrapper::after {
    content: "";
    display: block;
    clear: both; 
}

.poster {
    width: 31%;
    padding: 20px;
    background: #f9f9f9;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.poster:nth-of-type(2) {
    margin: 0 20px;
}

p {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 15px 0;
}

.line {
    width: 70%;
}

i {
    font-size: 28px;
}

.fa-arrow-right {
    font-size: 12px;
}

a {
    color: #ff4e5c;
    text-decoration: none;
}

.main-footer {
    background: #f1f1f1;
    padding: 30px;
}

button {
    background: #ff4e5c;
    border: #ff4e5c;
    color: #fff;
    border-radius: 20px;
    padding: 15px 70px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.copyright {
    height: 50px;
    padding: 10px;
    background: #3b3b58;
    color: #fff;
}

